<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Matches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <%- include('partials/nav.ejs', {user: user}) %>
    <div class="container">
      <h1 class="header">Matches List</h1>
      <a class="btn" href="/matches"
        ><i class="material-icons right">arrow_forward</i>Get started!</a
      >
    </div>
  </body>
</html>
