<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Matches Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <%- include('partials/nav.ejs', {user: user}) %>
    <div class="container">
      <div id="app">
        <div class="row" id="matchesList">
          <h3>Matches list</h3>
          <table v-if="hazMatches">
            <thead>
              <tr>
                <th>Game</th>
                <th>Date</th>
                <th>Time</th>
                <th>Players</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="match in matches">
                <td>{{ match.game }}</td>
                <td>{{ formatDate(match.date) }}</td>
                <td>{{ formatTime(match.matchtime) }}</td>
                <td>{{ match.players }}</td>
                <td>
                  <button
                    id="matchesDelete"
                    @click="confirmDeleteMatch(match.id)"
                    class="btn-small"
                  >
                    <i class="material-icons right">delete</i>Delete
                  </button>
                </td>
                <td>
                  <button
                  id="joinMatch"
                  @click="joinMatch(match.id)"
                  class="btn-small"  
                >
                  Join
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        <div class="row" id="MatchEdit">
          <h3>Add a match</h3>
          <form class="col s12" @submit.prevent="addMatch">
            <div class="row">
              <div class="input-field col s6">
                <input
                  v-model="game"
                  ref="game"
                  placeholder="Dota"
                  id="game"
                  type="text"
                  class="validate"
                />
                <label for="game">Game</label>
              </div>
              <div class="input-field col s6">
                <input
                  v-model="time"
                  ref="time"
                  placeholder="1"
                  id="time"
                  type="number"
                  class="validate"
                />
                <label for="time">Time</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input
                  v-model="date"
                  ref="date"
                  placeholder="yyyy-mm-dd"
                  id="date"
                  type="date"
                  class="validate"
                />
                <label for="date">Date</label>
              </div>
              <div class="input-field col s6">
                <input
                  v-model="matchtime"
                  ref="matchtime"
                  placeholder="1"
                  id="matchtime"
                  type="time"
                  class="validate"
                />
                <label for="matchtime">Time</label>
              </div>
            </div>
            <button id="matchEditSubmit" class="btn" type="submit">
              <i class="material-icons right">send</i>Submit
            </button>
          </form>
        </div>
        <div id="deleteConfirm" ref="deleteConfirm" class="modal">
          <div class="modal-content">
            <h4>Confirm delete</h4>
            <p>Delete {{ selectedMatch }}?</p>
          </div>
          <div class="modal-footer">
            <button
              @click="deleteMatch(selectedMatchId)"
              class="modal-close btn-flat"
            >
              Ok
            </button>
            <button class="modal-close btn-flat">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
