<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"
      ><% if ( user ) { %><%= user.nickname %>'s <% } %>Matches</a
    >
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/matches">My Matches</a></li>
      <% if ( isAuthenticated ) { %>
      <li><a href="/logout">Logout</a></li>
      <% } %> <% if ( !isAuthenticated ) { %>
      <li><a href="/login">Login</a></li>
      <% } %>
    </ul>
  </div>
</nav>
